.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  border: solid 2px brown;
  text-align: center;
}

li {
  position: relative;
  right: 40px;
  border: solid 1px gray;
  width: 400px;
  height: auto;
}

ul {
  list-style: none;
}
