:root {
  --card-color: dodgerblue;
  --bg-color: lightgray;
  --border-color: darkslategrey;
}
* {
  margin: 0px;
  padding: 0px;
}
main {
  background-color: var(--card-color);
  position: relative;
  width: 800px;
  height: 300px;
  left: calc(50vw - 400px);
  top: calc(50vh - 225px);
  border: outset 3px var(--border-color);
  border-radius: 17px;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}

hr {
  height: 2px;
  background-color: var(--border-color);
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--bg-color);
  width: 140px;
  color: palegoldenrod;
  background-color: slateblue;
  border-color: var(--border-color);
  margin: 10px;
  text-decoration: bolder;
  font-size: large;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

section {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
}

div {
  font-size: 36px;
}
